.wrapper {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-items: center;
    align-items: center;
    grid-row-gap: 3rem;
    background-color: #E9EAEC;

}

.header {
    text-align: center;
}

.pic {
    grid-column: span 1.5;

}
.intro {
    grid-column: span 1.5;
    padding: 10%;
}


