.root {
    display: grid;
    grid-template-columns: auto;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    /* Space between items */

    grid-template-columns: repeat(1, minmax(180px, 1fr));

}